[Desktop Entry]
Type=Application
Name=OpenTyrian
Comment=An arcade-style shoot 'em up
Icon=opentyrian
Categories=Game;ArcadeGame;
TryExec=tyrian
Exec=tyrian
Terminal=false

